.wcspt-has-gallery {
  position: relative;
}

.wcspt-has-gallery .onsale {
  z-index: 10;
}

.wcspt-has-gallery .secondary-thumb {
  position: absolute;
  top:0;
  right:0;
  left:0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}